{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="h1-like mt2">{{ title }}</h1>
    <section class="line mt2">
        <div class="isit">
            {{ message.message }}
        </div>
        {% if message.isItTime() and extraMessage is defined %}
            <pre>{{ extraMessage }}</pre>
        {% endif %}
    </section>
{% endblock %}
