<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="css/knacss.css" media="all">
        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>{{ title }}</title>
    </head>
    <body class="mw960p center">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
